{% extends 'base.html' %}

{% block content %}
  <h2>Upload your files here</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <strong>Chemkin file:</strong><br>
    {{ form.as_p }}
    <br>
    <strong>Kinetic file:</strong><br>
    {{ form.as_p }}
    <br>
    <strong>Thermal file:</strong><br>
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-primary">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
{% endblock %}