{% extends 'base.html' %}
{% block card %}{% endblock %}
{% block content %}
<h1>Mechanism {{ mech.id }} conversion to yaml</h1>

<pre>
{{ conversion_log }}
<font size="3" color="red">
{{ suggestion }}
</font>
</pre>


{% if mech.ct_mechanism_file %}
<br>
Cantera YAML file: 
<a href="{{ mech.ct_mechanism_file.url }}">
    <button type="button" >View</button>
</a>
{% load static %}
<a href="{{ mech.ct_mechanism_file.url }}" download>
    <button type="button"> Download</button>
</a>
<a href="{% url 'upload:chemcheck' mech.id %}">
    <button type="button">Check Chemistry</button>
</a>
<a href="{% url 'upload:check_pdep_negative_A' mech.id %}">
    <button type="button">Check pdep</button>
</a>
<a href="{% url 'upload:check_negative_dup_rxns_negative_A' mech.id %}">
    <button type="button">Check duplicate reaction</button>
</a>
<a href="{% url 'upload:reaction_condition' mech.id %}">
    <button type="button">Collision Violation Check</button>
</a>
{% endif %}

</br>
<p><a href="{% url 'upload:mechanism_detail' mech.id%} ">Back to mechanism details</a></p>

{% endblock %}
