{% extends 'base.html' %}
{% block card-body %}{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
        <th>Mechanism</th>
        <th>Thermo</th>
        <th>Transport</th>
        <th>Surface</th>
    </tr>
  </thead>
  <tbody>
    {% for mech in mechanisms %}
      <tr>
        <td>
          {% if mech.ck_mechanism_file %}
            <a href="{{ mech.ck_mechanism_file.url }}">{{ mech.ck_mechanism_file }}</a>
            <button type="button" class="btn btn-primary btn-sm">Edit</button>
          {% else %}
            <span class="text-muted">No File Attached</span>
          {% endif %} 
        </td>
        <td>
          {% if mech.ck_thermo_file %}
          <a href="{{ mech.ck_thermo_file.url }}">{{ mech.ck_thermo_file }}</a>
          <button type="button" class="btn btn-primary btn-sm">Edit</button> 
          {% else %}
            <span class="text-muted">No File Attached</span>
          {% endif %}  
        </td>
        <td>
          {% if mech.ck_transport_file %}
          <a href="{{ mech.ck_transport_file.url }}">{{ mech.ck_transport_file }}</a>
          <button type="button" class="btn btn-primary btn-sm">Edit</button> 
          {% else %}
            <span class="text-muted">No File Attached</span>
          {% endif %}  
        </td>
        <td>
          {% if mech.ck_surface_file %}
          <a href="{{ mech.ck_surface_file.url }}">{{ mech.ck_surface_file }}</a>
          <button type="button" class="btn btn-primary btn-sm">Edit</button> 
          {% else %}
            <span class="text-muted">No File Attached</span>
          {% endif %}  
        </td>
      </tr>
    {% endfor %}

  </tbody>   
</table>

{% endblock %}
