{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Mechanism</th>
        <th>Thermo</th>
        <th>TRansport</th>
    </tr>
    <tbody>
      {% for mechanism in mechanisms %}
      <tr>
        <td><a href="/mechanism/{{ mechanism.id }}/">{{ mechanism.id }}</a></td>
        <td>{{ mechanism.mechanism_file }}</td>
        <td>{{ mechanism.thermo_file }}</td>
        <td>{{ mechanism.transport_file }}</td>
      </tr>
      {% endfor %}
    </tbody>   
</table>


{% endblock %}