{% extends 'base.html' %}
{% block list %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'upload:upload' user.username %}">Simple Upload</a>
</li>
{% endblock %}
{% block content %}
  <h2>Upload your files here</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Upload files</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
{% endblock %}
